
<% is_active = defined?(active) && active %>
<% classes = "kpis_nav_list_item pb_nav_list_kit_item pb_nav_list_item_link#{is_active ? "_active" : ""}" %>

<%# Use the pb nav/item styling %>
<%= link_to '', onclick: 'event.preventDefault();', class: classes do %>
    <span class="pb_nav_list_item_text">
      <%= pb_rails("title", props: { text: label, tag: "h4", size: 4, classname: "pb_nav_list_item_text" }) %>
    </span>
    <% if defined?(value) && value != 0 %>
      <%= pb_rails("dashboard_value", props: {
        stat_change: { change: type, value: value },
        classname: "pb_nav_list_item_icon_right",
    }) %>
    <% end %>
<% end %>
