@import '../mixins/media';
@import "../config/variables";

.two-column-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: $space_lg;
}

@include media(tabletAndUp) {
  .two-column-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.overflow-y-scroll {
  overflow-y: scroll;
}